/* ------------------ Online Font Connectivity ------------------  */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Anta&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:wght@400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;700&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Poppins", sans-serif; */
/* font-family: "Work Sans", sans-serif; */

/* ------------------ Offline Font Connectivity --------------- */

/* poppins-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.eot'); 
  src: url('../fonts/poppins-v21-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'), 
       url('../fonts/poppins-v21-latin-regular.woff') format('woff'),
       url('../fonts/poppins-v21-latin-regular.ttf') format('truetype'), 
       url('../fonts/poppins-v21-latin-regular.svg#Poppins') format('svg'); 
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.eot'); 
  src: url('../fonts/poppins-v21-latin-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-v21-latin-500.woff2') format('woff2'), 
       url('../fonts/poppins-v21-latin-500.woff') format('woff'), 
       url('../fonts/poppins-v21-latin-500.ttf') format('truetype'),
       url('../fonts/poppins-v21-latin-500.svg#Poppins') format('svg'); 
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.eot'); 
  src: url('../fonts/poppins-v21-latin-600.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/poppins-v21-latin-600.woff2') format('woff2'), 
       url('../fonts/poppins-v21-latin-600.woff') format('woff'), 
       url('../fonts/poppins-v21-latin-600.ttf') format('truetype'),
       url('../fonts/poppins-v21-latin-600.svg#Poppins') format('svg'); 
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v19-latin-regular.eot'); 
  src: url('../fonts/work-sans-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/work-sans-v19-latin-regular.woff2') format('woff2'),
       url('../fonts/work-sans-v19-latin-regular.woff') format('woff'), 
       url('../fonts/work-sans-v19-latin-regular.ttf') format('truetype'), 
       url('../fonts/work-sans-v19-latin-regular.svg#WorkSans') format('svg'); 
}
/* work-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/work-sans-v19-latin-500.eot'); 
  src: url('../fonts/work-sans-v19-latin-500.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/work-sans-v19-latin-500.woff2') format('woff2'), 
       url('../fonts/work-sans-v19-latin-500.woff') format('woff'), 
       url('../fonts/work-sans-v19-latin-500.ttf') format('truetype'),
       url('../fonts/work-sans-v19-latin-500.svg#WorkSans') format('svg');
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v19-latin-600.eot'); 
  src: url('../fonts/work-sans-v19-latin-600.eot?#iefix') format('embedded-opentype'),
       url('../fonts/work-sans-v19-latin-600.woff2') format('woff2'),
       url('../fonts/work-sans-v19-latin-600.woff') format('woff'), 
       url('../fonts/work-sans-v19-latin-600.ttf') format('truetype'),
       url('../fonts/work-sans-v19-latin-600.svg#WorkSans') format('svg');
}

/* ------------------------------------------------------------------------------------- */
.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background-color: var(--whitecolor);
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.spacer{
  padding: 110px  0;
}
a{
  display: inline-block;
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  height: 100%;
  object-fit: cover;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.justify-between{
  display: flex;
  justify-content: space-between;
}
.justify-align{
  display: flex;
}
:root{
  --primary:#EE0D09;
  --secondry:#08194A;
  --tirtiary:#FB211E;
  --whitecolor:#fff;
  --poppins:"Poppins", sans-serif;
  --Alegreya:"Work Sans", sans-serif;
}
body{
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
::selection{
  background-color: #000;
  color: var(--whitecolor);
}
/* -Top Header start-------------------------------------------------------------- */
.top_part{
  display: grid;
  grid-template-columns: 35% 65%;
  font-size: 14px;
  font-weight: 500;
}
.left_top{
  padding-left: 200px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  color: var(--whitecolor);
}
.left_top i{
  /* color: var(--whitecolor); */
  padding-right: 5px;
}
.right_top{
  padding: 10px 0;
  padding-left:350px;
  background-color: var(--secondry);
  color: var(--whitecolor);
}
.right_top a{
  color: var(--whitecolor);
  padding-right: 30px;
  padding-left: 10px;
  transition: .3s;

  &:hover{
    color: var(--primary);
  }
}
.right_top i{
  display: flex;
  align-items: center;
}

.icons > li > a{
  padding: 0 7px;
  transition: .3s;

  &:hover{
    color: var(--primary);
  }
}
/* -Top Header start-------------------------------------------------------------- */


/* -Header start-------------------------------------------------------------- */
.logo_img{
  height: 34px;
  width: 64px;
}
header{
  font-family: var(--Alegreya);
  padding: 16px 0;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header{
  display: flex;
  align-items: center;
}
.flex_menu{
  height: 90px;
  background-color: #16cf16;
}
.menu li a{
  margin-right: 25px;
}
.menu li a{
  position: relative;
  font-weight: 500;
  letter-spacing: .5px;
  transition: .4s;
  color: var(--secondry);

  &:hover{
    color: var(--tirtiary);
  }
}

.menu li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu li a:hover::after { 
  width: 100%; 
  left: 0; 
}

button{
  font-family: var(--Alegreya);
  padding: 14px 26px;
  color: var(--whitecolor);
  background-color: var(--tirtiary);
  font-weight: 600;
  letter-spacing: 0.3px;
  transition: .2s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    border: none;
    font-weight: 600;
    background-color: var(--secondry) ;
    color: var(--whitecolor);
  }
}
button i{
  padding-left: 5px;
}
/* -Header end-------------------------------------------------------------- */


/* -Slider start-------------------------------------------------------------- */
.left_slider{
  width: 50%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
}
.right_slider{
  width: 50%;
}
.right_slider img{
  height: 500px;
}

.slider_con{
  display: flex;
  align-items: center;
}
.slider_head p{
  color: var(--secondry);
  font-size: 60px;
  padding-left: 25px;
  border-left: 10px solid var(--secondry);
  margin-bottom: 25px;
}
.slider_head p > b{
  font-size: 60px;
  color: var(--tirtiary);
}
.slider_head span{
  color: var(--txtcolor);
  font-size: 20px;
  display: inline-block;
  margin-bottom: 25px;
}
/* -Slider end-------------------------------------------------------------- */

/* -Why we Start-------------------------------------------------------------- */
.main_why{
  background-color: #F8F8F8;
}
.why_sub{
  font-size: 24px;
  color: var(--tirtiary);
  font-weight: 500;
  font-family: var(--Alegreya);
}
.why_title{
  font-size: 48px;
  color: var(--secondry);
  font-weight: 600;
  font-family: var(--Alegreya);
  margin: 10px 0;
  display: inline-block;
}
.why_per{
  color: #777;
  padding-bottom: 50px;
}
.why_head{
  text-align: center;
}

.why_card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.single_card{
  padding: 30px 24px;
  background-color: var(--whitecolor);
  position: relative;
  transition: .5s;

  &:hover{
    box-shadow:0px 2px 40px 0 rgba(0, 0, 0, 0.2);
  }
}
.single_card img{
  height: 70px;
}
.card_title{
  padding: 25px 0 15px 0;
  font-size: 20px;
  color: var(--secondry);
  font-family: var(--Alegreya);
}
.card_per{
  color: #777;
  margin-bottom: 40px;
}
.single_card button{
  font-family: var(--Alegreya);
  transition: .5s;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--secondry);

  &:hover{
    background-color: var(--primary);
  }
}
/* -Why we end-------------------------------------------------------------- */

/* -Service Start-------------------------------------------------------------- */
.left_servrice{
  width: 50%;
  background-image:linear-gradient(rgb(11, 21, 72,.38),rgb(11, 21, 72,.38)), url(../image/asset25.jpeg);
  background-repeat: no-repeat;
  /* padding: 350px 0; */
}
.right_servrice{
  width: 50%;
  padding:100px 70px;
  background-color: var(--secondry);
  color: var(--whitecolor);
}
.service_head{
  font-size: 48px;
  font-family: var(--Alegreya);
  font-weight: bold;
  padding-bottom: 45px;
}
.service_list li{
  padding: 9px;
  padding-bottom: 35px;
  color: #b7b7b7;
  font-weight: 500;
}
.service_list li > i{
  padding-right: 9px;
  display: inline-block;
}
.right_servrice button{
  border: 2px solid var(--primary);
  transition: .3s;
  margin-top: 20px;
  display: block;
  &:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
  }
}
/* -Service End-------------------------------------------------------------- */


/* -Subscribe start-------------------------------------------------------------- */
.parts{
  display: flex;
  justify-content: space-between;
}
.main_subscribe{
  position: relative;
  padding: 120px 0;
}
.main_subscribe:after{
  clip-path: polygon(0% 0%, 100% 0, 85% 100%, 0 100%);
  content: "";
  background-color: var(--secondry);
  position: absolute;
  left: 0;
  top: 0;
  width: 55%;
  height: 100%;
  z-index: -1;
}
.main_subscribe:before{
  content: "";
  background-color: var(--primary);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.left_subscribe{
  overflow: hidden;
  width: 50%;
}
.left_sub_head{
  font-weight: bold;
  font-size: 48px;
  color: var(--whitecolor);
  font-family: var(--Alegreya);
}
.left_sub_head span{
  border-bottom: 8px solid;
  color: var(--primary);
}
.left_sub_sub{
  font-size: 16px;
  color: var(--whitecolor);
  padding: 30px 0;
}
.subscribe_mail{
  display: flex;
}
.subscribe_mail input{
  width: 50%;
  padding: 18px 18px 16px 30px;
  border: none;
}
.subscribe_mail input::placeholder{
  color: #77777750;
}
.subscribe_mail button{
  padding: 18px 30px;
  border: none;
  background-color: var(--primary);
  color: var(--whitecolor);
  transition: .5s;
  border: 1px solid var(--primary);

  &:hover{
    background-color: transparent;
  }
}
.right_subscribe{
  overflow: hidden;
  text-align: right;
}
.right_subscribe_detail{
  max-width: 400px;
}
.right_sub_head{
  font-weight: bold;
  font-size: 40px;
  line-height: 1.41;
  color: var(--whitecolor);
}
.right_sub_sub{
  font-size: 16px;
  color:var(--whitecolor);
  padding: 30px 0;
}
.right_subscribe_detail a{
  background: var(--whitecolor);
  color: var(--tirtiary);
  padding: 14px 26px;
  transition: .3s;

  &:hover{
    background-color: var(--secondry);
    color: var(--whitecolor);
  }
}
/* -Subscribe end-------------------------------------------------------------- */


/* -Testimonial start-------------------------------------------------------------- */
.main_testimonial{
  padding: 200px 0 110px;
}
.all_testimonial{
  position: relative; 
}
.all_testimonial:before{
  content: "";
  background: url(../image/asset26.png);
  background-repeat: no-repeat;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 18px;
  top: 78px;
  z-index: -1;
}
.all_testimonial:after{
  content: "";
  background: url(../image/asset27.png);
  background-repeat: no-repeat;
  width: 21%;
  height: 100%;
  position: absolute;
  right: -33px;
  top: 40px;
  z-index: -1;
}
.single_testimonial{
  transition: all 1s ease;
}
.client-img img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  cursor: pointer;
}
.second{
  position: absolute;
  left: -22px;
  top: -2px;
  transform: scale(0.72);
}
.main_testimonial .third{
  position: absolute;
  left: 122px;
  top: 105px;
  transform: scale(0.5) !important;
}
.fourth{
  position: absolute;
  left: 16px;
  top: 310px;
  transform: scale(0.65);
}
.fifth{
  position: absolute;
  top: 18px;
  right: 55px;
  transform: scale(0.8);
}
.sixth{
  position: absolute;
  top: 208px;
  right: -30px;
  transform: scale(0.65);
}
.seventh{
  position: absolute;
  top: 356px;
  right: 134px;
  transform: scale(0.5) !important;
}
.main_testimonial .active .testimonial_detail{
  max-width: 556px;
  margin: auto;
  padding: 45px 36px 45px 45px;
  box-shadow: 0 0 25px #5191FA20;
  border-radius: 60px;
  position: relative;
  background: #ffffff;
  z-index: 0;
}
.main_testimonial .active .testimonial_detail:before{
  content: '';
  height: 138px;
  width: 138px;
  position: absolute;
  background-color: #ffffff;
  bottom: -69px;
  left: 40%;
  transform: rotate(225deg);
  box-shadow: -5px -5px 8px -5px rgba(81, 145, 250, 0.13);
  border-radius: 25px 0;
  z-index: -1;
}
.main_testimonial .active .testimonial_detail span{
  display: inline-block;
  position: absolute;
  top: -83px;
  right: -25px;
}
.main_testimonial .active .testimonial_detail span img{
  width: 100%;
}
.main_testimonial .active .testimonial_detail h5{
  font-size: 30px;
  color: var(--secondry);
  font-weight: 500;
  padding-bottom: 7px;
}
.main_testimonial .active .testimonial_detail p{
  font-size: 16px;
  line-height: 1.56;
  color: #777;
  margin-top: 30px;
}
.main_testimonial .active .testimonial_info{
  margin-top: 128px;
  text-align: center;
}
.main_testimonial .active .client-img{
  width: 180px;
  margin: 0 auto 24px;  
}
.main_testimonial .active .person_detail{
  transition-delay: 0.6s;
}
.main_testimonial .active .person_detail h3{
  color: var(--secondry);
  font-size: 40px;
  line-height: 1.32;
}
.main_testimonial .active .person_detail p{
  font-size: 16px;
  line-height: 1.56;
  color: #777;
}
.main_testimonial .inactive .testimonial_detail{
  display: none !important;
}
.main_testimonial .inactive .person_detail{
  display: none;
  opacity: 0;
  visibility: hidden;
}
/* -Testimonial end-------------------------------------------------------------- */


/* -Newsletter start-------------------------------------------------------------- */
.main_newsletter{
  overflow: hidden;
  background: #F8F8F8;
  padding: 100px 0 90px;
}
.newsletter_head h3{
  font-weight: bold;
  font-size: 48px;
  line-height: 1.41;
  color: var(--secondry);
}
.newsletter_head h3 span{
  border-bottom: 8px solid;
  color: var(--primary);
}
.newsletter_head p{
  padding: 55px 0 75px;
  font-size: 20px;
  line-height: 1.5;
}
.newsletter_head p b{
  color: var(--secondry);
}
.news_img{
  overflow: hidden;
}
.news_img img{
  width: 100%;
  transition: 1s ease-in-out;
}
.news_img a:hover img {
  transform: scale(1.2);
  overflow: hidden;
}
.news_detail a{
  color: var(--secondry);
  transition: .5s;

  &:hover{
    color: var(--tirtiary);
  }
}
.all_news{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.right_news{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.single_news{
  padding: 0 15px;
}
.left_news{
  padding-right:15px;
}
.news_detail h4{
  font-weight: bold;
  font-size: 24px;
  line-height: 2.7;
}
.news_detail span{
  color: #77777761;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.56;
  display: block;
}
.news_detail p{
  padding: 17px 0 38px;
  color: #777;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.56;
}
.news_item{
  margin-bottom: 30px;
}
.news_item:hover .news_thumbnail img{
  transform: scale(1.2);
}
.news_thumbnail{
  overflow: hidden;
}
.news_thumbnail img{
  transition: 1s ease-in-out;
  width: 100%;
  overflow: hidden;
}
.news_title > a{
  color: var(--secondry);
  transition: .5s;

  &:hover{
    color: var(--primary);
  }
}
.news_title  h4{
  font-size: 20px;
  line-height: 1.35;
  font-weight: 500;
  padding: 15px 0 7px;
}
.news_title span{
  color: #77777761;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.56;
  display: block;
}
/* -Newsletter end-------------------------------------------------------------- */


/* -Appointment start-------------------------------------------------------------- */
#appointment{
  position: relative;
}

.main_appointment{
  padding: 110px 0 200px;
}
.left_appointment{
  width: 50%;
}
.right_appointment{
  width: 50%;
  padding: 0 15px;
}
.right_appointment b{
  font-size: 48px;
  color: var(--secondry);
  padding-bottom: 50px;
  display: block;
}
.right_appointment b u{
  font-size: 48px;
  color: var(--tirtiary);
  text-underline-offset: 10px;
}
input:focus , textarea:focus{
  outline: none;
  font-family: var(--Alegreya);
}
.first_input{
  display: flex;
  justify-content: space-between;
}
.first_input input{
  display: block;
  height: 50px;
  padding: 0px 15px;
  border: 1px solid #c7c7c7;
  margin-bottom: 30px;
  width: 48%;
}
.second_input input{
  display: block;
  height: 50px;
  padding: 0px 15px;
  border: 1px solid #c7c7c7;
  margin-bottom: 30px;
  width: 100%;
}
.third_input textarea{
  width: 100%;
  display: block;
  height: 150px;
  padding:15px;
  border: 1px solid #c7c7c7;
  margin-bottom: 30px;
  font-family: var(--poppins);
}
.inputs button{
  width: 100%;
  transition: .3s;
}
.left_appointment img{
  position: absolute;
  bottom: 0;
  left: 80px;
  height: 600px;
}
/* -Appointment end-------------------------------------------------------------- */

/* -Footer start-------------------------------------------------------------- */
footer{
  background: var(--secondry);
  color: var(--whitecolor);
  font-size: 14px;
  line-height: 2.1;
  position: relative;
}
footer .top-footer{
  padding: 110px 0 55px;
}
footer .top-footer .foot_1 p{
  padding: 46px 0 16px;
}
.foot_1 .social-link a{
  margin-right: 12px;
  color: var(--whitecolor);
  transition: .5s;

  &:hover{
    color: var(--tirtiary);
  }
}
.foot_2{
  margin-top: 18px;
}
.foot_2 .title h4{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 55px;
}
.foot_2 ul{
  margin: 0;
}
.foot_2 ul li a{
  color: var(--whitecolor);
  transition: .5s;

  &:hover{
    color: var(--tirtiary);
  }
}
.foot_3{
  margin-top: 18px;
}
.foot_3 .title h4{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 55px;
}
.foot_3 ul {
  margin: 0;
}
.foot_3 ul li a{
  color: var(--whitecolor);
  transition: .5s;

  &:hover{
    color: var(--tirtiary);
  }
}
footer .top-footer .foot_4{
  margin-top: 18px;
}
.foot_4 .title h4{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 55px;
}
.foot_4 ul {
  margin: 0;
}
.foot_4 ul li a{
  color: var(--whitecolor);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.foot_4 ul li a:hover{
  color: var(--tirtiary);
}

footer .bottom-footer{
  padding: 30px 10px 40px;
  text-align: center;
  border-top: 1px solid #707070;
}
footer .bottom-footer p{
  font-size: 14px;
  color: var(--whitecolor);
  text-align: center;
}
footer .bottom-footer p span{
  padding: 0 20px;
}
footer .bottom-footer p a{
  color: var(--whitecolor);
  transition: .5s;
}
footer .bottom-footer p a:hover{
  color: var(--tirtiary);
}

.top-footer{
  display: flex;
  padding: 60px 0;
}
.foot_1{
  width: 60%;
}
.foot_1 p{
  padding: 46px 0 16px 0;
  color: var(--whitecolor);
  font-size: 14px;
}
.foot_2,.foot_3,.foot_4{
  width: 20%;
}
.social-link li a{
  color: var(--whitecolor);
  font-size: 14px;
  padding-right:12px;
  transition: .3s;

  &:hover{
    color: var(--primary);
  }
}
.foot_2 .title h3 , .foot_3 .title h3 , .foot_4 .title h3{ 
  margin-bottom: 55px;
  color: var(--whitecolor);
}
.foot_2 li a , .foot_3 li a , .foot_4 ul li a{ 
  padding:5px 0;
  font-size: 14px;
  color: var(--whitecolor);
  transition: .3s;


  &:hover{
    color: var(--primary);
  }
}
.foot_4 ul li a i{
  margin-right: 8px;
}
.foot_4 {
  margin-top: 15px;
}
#footer{
  background-color: var(--secondry);
}
/* -Footer end-------------------------------------------------------------- */


/* -----------------uparw end----------------- */
.uparw{
  position: fixed;
  right: 30px;
  bottom: 30px;

  z-index: 999;
  padding:  15px;
  background-color: var(--tirtiary);
  color: var(--whitecolor);
  border-radius:50%;
  border: none;
  outline: none;
  transition: .2s;

  border: 2px solid var(--whitecolor);

  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: var(--secondry);
    border: 2px solid var(--whitecolor);
  }
}
button i{
  font-size: 20px;
  transition: .3s;
}
/* -----------------uparw end----------------- */

/* -----------------Preloader start----------------- */
.preloader{
  position: fixed;
  
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--whitecolor);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader img{
  height: 80px;
  width: 80px;
  
}
/* -----------------Preloader end----------------- */
